*{
    box-sizing: border-box;

}
body{
    background-image: url('gymblue.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    
}
.container{
    background-color: rgb(150, 192, 255);
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(46, 106, 203);
    border-radius: 3px;


}

.modal-title{
    text-align: center;

}
input[type="submit"]{
    background-color: rgb(0, 14, 43);
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    
}
input[type="text"]{ background-color: rgb(177, 208, 255);}
input[type="number"]{ background-color: rgb(177, 208, 255);}
input[type="date"]{ background-color: rgb(177, 208, 255);}
select{ background-color: rgb(177, 208, 255);}